{% extends 'AppTienda/plantilla_base.html' %}

{% block contenido_base %}

{% if exitoso %}
<div> <h5><b><center>El distribuidor se creo exitosamente!</center></b></h5> </div>
{% endif %}

<h1><br> Distribuidores </h1>

<a href="{% url 'Formulario Distribuidores' %}">CREAR NUEVO DISTRIBUIDOR</a><br>
<br>
<a href="{% url 'Buscar Distribuidor' %}">BUSCAR DISTRIBUIDOR</a><br>

<br><h3> Listado de distribuidores: </h3>

{% for distribuidor in distribuidores %}

    <br><span> Nombre: {{distribuidor.nombre}} {{distribuidor.apellido}} / Zona: {{distribuidor.direccion}} </span>

{% endfor %}

{% endblock contenido_base %}